<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录-麻雀窝</title>
    <meta content="麻雀窝提供" name="description"/>
    <meta name="application-name" content="麻雀窝"/>

    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>用户登录-麻雀窝</title>
        <meta content="麻雀窝提供" name="description"/>
        <meta name="application-name" content="麻雀窝"/>
        <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0"/>
        <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0"/>
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0"/>
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0"/>
        <script language="javascript" type="text/javascript"
                src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0"></script>
        <script language="javascript" type="text/javascript"
                src="http://r.sparrowzoo.net/ext/scripts/system/language/zh_cn/user.js?v=1.0"></script>
    </head>
    <body>

    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0"/>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0"/>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0"></script>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/ext/scripts/system/language/zh_cn/user.js?v=1.0"></script>
</head>
<body>


<head>
    <jsp:include page="/template/include/header.jsp"/>

</head>
<body style="width:700px;height:520px;">

<input type="hidden" id="hdnImageCooperConfig" post="/user/modify-head-image.json" preview="imgPreviewUserHead"
       current="imgCurrentUserHead" parent_current="imgUserHead" parent_input="hdnUserHead" command="btnUploadUserHead"
       business_id="userId"/>

<div class="headContent">
    <div class="currentUserHead">
        <img src="${resource}/images/user.gif" id="imgCurrentUserHead"/>

    </div>

    <div class="localUpload">
        <img id="imgPreviewUserHead" src="${resource}/images/camera.jpg"/> <br/>
    </div>
    <div class="localfile">
        <iframe class="file-frame" name="fileUpload" id="fileUpload"
                frameborder="0" src="http://upload.sparrowzoo.com/file-upload?path-key=administrator"></iframe>
        <span>支持.jpg|.jpeg|.png</span>
    </div>
    <div class="buttons_group">
        <input type="button" value="保存" id="btnUploadUserHead" class="button"/>
        <input type="button" onclick="parent.win.closeClick();" class="button" value="关闭"/>
    </div>
</div>
</body>
</html>
