<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base/>
    <title>邮箱激活-麻雀窝</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="keywords" content="邮箱激活"/>
    <meta http-equiv="description" content="邮箱激活"/>
    <th:block th:include="/frames::global_resource"/>
    <script  type="text/javascript"
            th:src="${resource}+'/scripts/language/zh_cn/user.js?v=1.0"></script>
    <script  type="text/javascript"
            th:src="${resource}+'/ext/scripts/passport.js?v='+${resource_version}"></script>
</head>
<body>
<script  type="text/javascript" th:src="${resource}+'/scripts/baidu.js?v='+${resource_version}"></script>
<div class="body">
    <th:block th:include="/frames::banner"/>
    <div class="header">
        <h1>麻雀窝-邮箱激活</h1>
        <h2>
            恭喜 邮箱已激活
        </h2>
    </div>

    <div class="content">
        <span data-th-href="${root_path}+'/login'" id="redirect"></span>" id="timer">5000</span>秒以后将自动跳转,或者
        <a data-th-href="${root_path}+'/login'"  target="_self">点击这里直接登录</a>
        <script type="text/javascript">
            $.waitRedirect("timer");
        </script>
        <a data-th-href="${root_path}/">或点击这里,直接返回首页</a>
    </div>
</div>
</body>
</html>
