<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="global_resource">
    <link rel="stylesheet" type="text/css"
          th:href="${resource}+'/styles/pure-css/pure-min.css?v='+${resource_version}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" th:href="${resource}+'/styles/layouts-old-ie.css?v='+${resource_version}"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" th:href="${resource}+'/styles/layouts.css?v='+${resource_version}"/>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" th:href="${resource}+'/styles/sparrow.css?v='+${resource_version}"/>
    <script type="text/javascript"
            th:src="${resource}+'/scripts/sparrow.js?v='+${resource_version}"></script>
</div>
</body>

