<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>恭喜！登录成功-麻雀窝</title>
    <meta content="error" name="keywords"/>
    <meta content="恭喜！登录成功" name="description"/>
    <meta name="application-name" content="麻雀窝"/>
    <meta name="msapplication-tooltip" content="麻雀窝"/>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0"/>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0"/>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="http://r.sparrowzoo.net/scripts/baidu.js?v=1.0"></script>
<div class="body">
    <div class="header">
        <h1>恭喜！登录成功-admin</h1>
    </div>
    <div class="content">
        <br/>
        <input id="hdnQueryString" type="hidden" th:value="${#httpServletRequest.getQueryString()}"/>
        <span class="highlight" id="timer">5000</span>秒以后将自动跳转,或者<a
            href="http://admin.sparrowzoo.com/" target="_self">直接点击这里跳转</a>
        <script type="text/javascript">
            $.waitRedirect("timer");
        </script>
        <br/>
        <a href="http://www.sparrowzoo.com">或点击这里,直接返回首页</a>
    </div>
</div>
</body>
</html>