<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>恭喜！登录成功-程序员有问题就上麻雀窝 和大牛直接聊</title>
    <meta content="error" name="keywords"/>
    <meta content="程序员有问题就上麻雀窝 和大牛直接聊" name="description"/>
    <meta name="application-name" content="麻雀窝"/>
    <meta name="msapplication-tooltip" content="麻雀窝"/>
    <th:block th:include="/frames::global_resource"/>
</head>
<body>
<script type="text/javascript" src="http://r.sparrowzoo.net/scripts/baidu.js?v=1.0"></script>
<div class="body">
    <th:block th:include="/frames::banner"/>
    <div class="header">
        <h1>恭喜！登录成功-admin</h1>
        <h2>程序员有问题就上麻雀窝 和大牛直接聊</h2>
    </div>
    <div class="content">
        <br/>
        <input id="hdnQueryString" type="hidden" th:value="${#httpServletRequest.getQueryString()}"/>
        <span class="highlight" id="timer">5000</span>秒以后将自动跳转,或者<a
            href="http://www.sparrowzoo.com/" target="_self">直接点击这里跳转</a>
        <script type="text/javascript">
            $.waitRedirect("timer");
        </script>
        <br/>
        <a href="http://www.sparrowzoo.com">或点击这里,直接返回首页</a>
    </div>
</div>
</body>
</html>
