<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base/>
    <title>邮箱-麻雀窝</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="keywords" content="邮箱"/>
    <meta http-equiv="description" content="邮箱"/>

    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0"/>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0"/>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0"></script>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/system/language/zh_cn/user.js?v=1.0"></script>
</head>
<body>
<script language="javascript" type="text/javascript" src="http://r.sparrowzoo.net/scripts/baidu.js?v=1.0"></script>
<div class="body">
    <div class="header">
        <h1>麻雀窝-邮箱激活</h1>
        <h2>
            邮箱激活
        </h2>
    </div>
    <div class="content">
        <form action="/register/email/activate/send" method="post" class="pure-form pure-form-aligned">
            <div class="pure-controls">
                <input type="text" name="userId" value="37"><br/>
                <input type="text" name="email" value="zh_harry@163.com"><br/>
                <input type="submit"
                       class="pure-button pure-button-primary button-xlarge pure-input-1-4" value="激活"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
