<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sparrow index </title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0"></script>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/ext/scripts/blog/global.js?v=1.0"></script>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/ext/scripts/blog/thread.js?v=1.0"></script>

    <script type="text/javascript" language="javascript">
        Sparrow.thread.loginCallback=function(){
            alert("login successful!");
        }
    </script>
</head>
<body>
<input onclick="$.user.login.dialog('thread')" type="button" value="login">
</body>
</html>

