<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录-程序员有问题就上麻雀窝 和大牛直接聊</title>
    <meta content="程序员有问题就上麻雀窝 和大牛直接聊" name="description"/>
    <meta name="application-name" content="麻雀窝"/>
    <th:block th:include="/frames::global_resource"/>
    <script type="text/javascript"
            th:src="${resource}+'/ext/scripts/language/zh_cn/user.js?v='+${resource_version}"></script>
    <script type="text/javascript">
        document.ready(function (){
            $.v.init(loginInfo);
        });
    </script>
</head>
<body>

<th:block th:include="/frames::banner"/>

<div class="header">
    <h1>麻雀窝用户登录</h1>
    <h2>
        还没有帐号?
        <a href="http://www.sparrowzoo.com/register">立即注册</a>
    </h2>
</div>

<div class="content">
    <form action="/login.do" method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="txtUserName">
                    用户名
                </label>
                <input type="text" id="txtUserName" name="userName" class="input"/>
                <span th:text="${login_user_name}" id="errorUserName" class="error"></span>
            </div>
            <div class="pure-control-group">
                <label>
                    密 码
                </label>
                <input class="input" type="password" id="txtPassword"
                       name="password"/>
                <span id="errorPassword" name="login_password" class="error"></span>
            </div>
            <div class="pure-control-group">
                <label>
                    验证码
                </label>
                <input class="input" type="text"
                       maxlength="4" name="captcha" id="txtValidateCode"/>

                <img id="imgLoginValidateCode"
                     onclick="$(this).fresh()" src="/validate-code"/>
                <a href="javascript:$('#imgLoginValidateCode').fresh();"> 看不清 换一张</a>
                <span id="errorValidateCode" th:text="${login_validate_code}" name="login_validate_code"
                      class="error"></span>
            </div>

            <div class="pure-controls">
                <label for="chbLoginDays" class="pure-checkbox">
                    <input id="chbLoginDays" value="14" name="loginDays" type="checkbox"> 两周直接登录(家庭登录模式)<a
                        href="http://www.sparrowzoo.com/password/find">忘记密码</a><br/>
                    <span class="highlight">温馨提示</span>为了您的密码安全,如果您在网吧等公共场所请不要勾选此项
                </label>

                <button onenter="true" type="button" onclick="$.v.getValidateResult(loginInfo);"
                        class="pure-button pure-button-primary">登录
                </button>
            </div>
        </fieldset>
        <input type="hidden" name="redirectUrl" value=""/>
    </form>
</div>
</body>
</html>
