<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>操作成功！-管理系统</title>
    <meta content="" name="keywords"/>
    <meta content="操作成功！" name="description"/>
    <meta name="application-name" content="管理系统"/>
    <meta name="msapplication-tooltip" content="管理系统"/>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0.1"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0.1"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0.1"/>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0.1"/>
    <script language="javascript" type="text/javascript"
            src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0.1"></script>

    <script language="javascript" type="text/javascript">
        function clickRedirect(){
           var queryString='[[${#httpServletRequest.getQueryString()}]]';
            window.location.href=queryString;
        }
    </script>
</head>
<body>
<script language="javascript" type="text/javascript" src="http://r.sparrowzoo.net/scripts/baidu.js?v=1.0.1"></script>
<div class="body">
    <div class="header">
        <h1>操作成功！</h1>
        <h2>

        </h2>
    </div>
    <div class="content">
        <input id="hdnQueryString" type="hidden" th:value="${#httpServletRequest.getQueryString()}"/>
        <span id="timer">50000</span>秒以后将自动跳转,或者
        <a href="javascript:void(0);" onclick="clickRedirect()" id="hyperQueryString" target="_self">直接点击这里跳转</a>
        <script type="text/javascript">
            $.waitRedirect("timer");
        </script>
        <a href="http://admin.sparrowzoo.com">或点击这里,直接返回首页</a>
    </div>
</div>
</body>
</html>
